/* Global theme settings */
body.light-theme {
    background-color: white;
    color: black;
  }
  
  body.dark-theme {
    background-color: #121212;
    color: white;
  }
  
 
  #fa {
    margin-right: 10px; /* Adjust this value to your preference */
    color: #ebb222;
  }