/* Styles.css */

.home-section {
  overflow: hidden; /* Hide overflow to prevent text from showing outside the container */
  position: relative;
 
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 margin-top: 300px;
 margin-right:970px;
 height: 400px;
}


.content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 0 40px;
}

.content p {
  font-size: 3rem;
  color: #ebb222; /* Change as desired */
  white-space: nowrap;
  font-weight: bolder;
  overflow: hidden; /* Hide the overflowing text */
  border-right: .15em solid #dfb93ff8; /* Cursor effect */
  animation: typing 4s steps(30, end), blink-caret .75s step-end infinite, clearing 4s steps(30, end) 4s infinite;
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Clearing animation */
@keyframes clearing {
  0% { width: 100%; }
  100% { width: 0; }
}

/* Blinking cursor animation */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff00; }
}
.first{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}
img{
  width: 200px;
  height: 200px;
 margin-right: 200px;
 border-radius: 20px;
 /* margin-top: 50px; */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  position: relative;
  transition: color 0.3s;
  border-bottom: 5px solid #eeb222;
  border-radius: 20px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #eeb222;
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
  z-index: -1;
  border-radius: 20px;
}

.button:hover::before {
  transform: scale(1);
}

.button:hover {
  color: #ebb222;
  border-radius: 20px;
  background-color: rgba(2, 0, 5, 0.6);
}
