// src/CertificatePage.scss
.certificate-page {
    padding: 20px;
    .certificates-slider {
      overflow-x: hidden;
      .slider-wrapper {
        display: flex;
        flex-direction: row;
        animation: slide-left 10s linear infinite;
      }
      .certificate-card {
        flex: 0 0 300px;
        margin: 0 15px;
        border: 1px solid #ddd;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        object {
          border: none;
        }
        p {
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  